<html>
<meta charset = "utf-8">
<body class= "w3-purple">  
  <style>
   h1,h2,h3,h4 {font-family: "Tahoma"
  }
  </style>
  <div  class="w3-container w3-card w3-white w3-margin-bottom">
    <img src= "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.Cxx9Ng2rbGXvk0Zzjy6tbgHaGD%26pid%3DApi&f=1" style= "width:100%">
    <div class= "w3-third">
     <div class="w3-white w3-text-grey w3-card-4">
      <div class= "w3-display-container">
       <div class= "w3-container w3-text-black">
       <h1>John Poet</h1>
        <p> Graphic Designer<p>
        <p> Helsinki, Finland </p>
        <p> j.p@stackblitz.com
        <p> 917-xxx-xxxx </p>  
        </div>
       </div>
      </div>
     </div>  
     
     <div class="w3-container w3-card w3-white w3-margin-bottom">

       <h2><b><i class= "fa fa-asterisk"></i></b> Interests </h2>  
         <p>Computer Science</p>
         <p>Digital Art</p>
         <p>Photography</p>

     </div> 

     <div>
       <h2>Languages</h2>
        <p>English</p>
        <p>Finnish</p>
        <p>German</p>
        <p>Spanish</p>  
     </div>

     <div>
       <h2>Education</h2>
         <h3>Queensborough Community College</h3>
          <h4>Associate's Degree</h4>
           <p>August 2019 - May 2021
         <br>
       <h3>School of Visual Arts</h3> 
        <h4>Bachelor's Degree</h4>
         <p>September 2021 - May 2023</p>
       <br>
       <h3>Yale University</h3>
          <h4>Master's Degree</h4>
           <p>September 2023 - May 2025</p>
     </div> 

      <br>
     <div>
       <h2>Work Experience</h2>
             <h3>Art Director, Dreamworks Studio</h3>
          <h4>June 2030 - Present</h4>
           <p>I lead a group of animators towards creating block-buster films!</p>
         <br>
       <h3>Senior Designer, Vans</h3> 
        <h4>July 2028 - April 2030</h4>
         <p>They gave me the last say in every marketing campaign.</p>
       <br>
       <h3>Intern, Marvel Comics </h3>
          <h4>June 2025 - July 2026</h4>
           <p>Super hero comics got revolutionized because of me!</p> 
        



